.login-button-y {
    position: fixed;
    top: 5%;
    right: 10%;
    width: 100px;
    height: 50px;
    opacity: 100%;
}
.login-button-n {
    position: fixed;
    top: 5%;
    right: 10%;
    width: 100px;
    height: 50px;
    opacity: 0%;
    transition: 0.3s;
}

.bottom-buttons-y{
    position: fixed;
    bottom: 5%;
    right: 50%;
    opacity: 100%;
}

.bottom-buttons-n{
    position: fixed;
    bottom: 5%;
    right: 50%;
    opacity: 0%;
    transition: 0.3s;
}

.bottom-buttons-y button{
    width: 100px;
    height: 50px;
}

.bottom-buttons-n button{
    width: 100px;
    height: 50px;
}